body { 
    font-family: Manrope;


}

h1 {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    color: #121212;
    font-weight: 400;
}

h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
   
}

.img1 {
    width: 1150px;
    height: 500px;
    background-repeat: no;
    background-image: url('../resources/Rectangle\ 1.png');
    
}
.img1-text {
    line-height: 27px ;
    color: white;
    font-size: 20px;
    width: 430px;
    letter-spacing: -0.03em;
    height: 81px;
    padding-left: 40px;
    padding-top: 379px;
    padding-bottom: 40px;

}